
<h1>Frozen</h1>

<!-- <form action="">
	<imput type="checkbox"
	name="frozen" value="Chicken Tender"><br>frozen meat, 12lbs</br>
</form> -->
<div class="list">
<br>
<%= check_box_tag "frozzen food", "frozzen" %> Tyson Chicken breast. skill less, 100%natural. $12.99</br>

<%= check_box_tag "frozzen food", "frozzen" %>Vanilla bean ice cream,Made with Belgian chocolate. 1LB $5.50

<br>
<%= check_box_tag "frozzen food", "frozzen" %> Tilapia Fillets, 3.5 lbs $11.98

</br>

<br>

<%= check_box_tag "frozzen food", "frozzen" %> California Giant Berry Farms Stem Strawberries, 16 $6.98

<%= check_box_tag "frozzen food", "frozzen" %> git Sam's Choice 4 Flavor Cheesecake Sampler, 28 oz $7.98

<%= check_box_tag "frozzen food", "frozzen" %> Kellogg's Eggo Buttermilk Waffles, 24 count, 29.6 oz $4.88
</br>

</div>

<footer>

<div class="checkout"><%= link_to 'payment', new_payment_path %></div>
</footer>
