<!-- <p id="notice"><%= notice %></p>

<h1>Products</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>
<a href="beverages">Beverages</a>
  <tbody>
    <% @products.each do |product| %>
      <tr class="products">
        <td><%= product.name %></td>
        <td><%= product.description %></td>
        <td><%= product.price %></td> -->


       <!--  <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->


      <!-- </tr>
    <% end %>
  </tbody>
</table>

<br>

 <%= link_to 'payment', new_payment_path %> -->



 <!DOCTYPE html>
 <html>
   <head>
     <meta charset="utf-8">
     <title>Shopping Products</title>
     <!-- <link rel="stylesheet" type="text/css" href="products.css"> -->
   </head>
   <body>

     <header class="products">
     <div class="title"> <font><b>Where Would You Like To Begin?</b></font></div></header>

     <div class="container">

       <section class="column1">
         <div class = "button1a"><a href="/frozen_foods" ><button type="button" class="btn btn-success btn-lg btn-block">Frozen Foods</button></a></div><br>
         <div class = "button1b"><a href="/produce" ><button type="button" class="btn btn-success btn-lg btn-block">Produce</button></a></div><br>
         <div class ="button2a"><button type="button" class="btn btn-success btn-lg btn-block">Beverages</button></div><br>
       </section>

       <section class="column3">
         <div class ="button3a"><button type="button" class="btn btn-success btn-lg btn-block">Bakery/Breakfast/Cereal</button></div><br>
         <div class = "button3b" ><button type="button" class="btn btn-success btn-lg btn-block">Canned/Packaged Foods</button></div><br>
          <div class = "button2b"><button type="button" class="btn btn-success btn-lg btn-block">Refrigerated Foods</button></div><br>
         </section>

      </div>

     <footer class="end"><a href="/"><button type="button" class="btn btn-success btn-lg">Go Back</button></a></footer>

   </body>
 </html>
